
extends layouts/default

block banner
  img.img-responsive(src='images/banner-noticias.jpg', alt='Noticias')
  h2 Noticias

block content
  .container-fluid
    .row
      .col-lg-9
        .panel.panel-main-news
          .panel-body
            h3.text-center conéctate informa
            .row
              .col-xs-12
                article
                  .row
                    .col-xs-12.col-md-6(style="background-color: white;")
                      .thumbnail
                        img.img-responsive(src='images/news.png', alt='')
                        img.mask-fluid-vertical(src='images/mask_right.png', alt='')
                    .caption(style="padding: 0 15px;")
                      header
                        time(datetime='2016-05-29T03:46')
                          span.badge 1
                          | &nbsp; 29.05.2016 03.46pm
                        h1 Fechas y Respuestas del proceso de Matrícula
                        small Área / Dirección / Jefatura
                      p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime vel, corporis molestiae totam odit enim, eos ex labore temporibus aperiam, nulla. Nulla, voluptas, odit distinctio unde magnam saepe quo neque.
                      p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime vel, corporis molestiae totam odit enim, eos ex labore temporibus aperiam, nulla. Nulla, voluptas, odit distinctio unde magnam saepe quo neque.
                      p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime vel, corporis molestiae totam odit enim, eos ex labore temporibus aperiam, nulla. Nulla, voluptas, odit distinctio unde magnam saepe quo neque.
                      p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime vel, corporis molestiae totam odit enim, eos ex labore temporibus aperiam, nulla. Nulla, voluptas, odit distinctio unde magnam saepe quo neque.
                      p.text-justify Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime vel, corporis molestiae totam odit enim, eos ex labore temporibus aperiam, nulla. Nulla, voluptas, odit distinctio unde magnam saepe quo neque.
                      br
                      br
                    .likes.text-right
                      span #0
                      | &nbsp;
                      i.fa.fa-heart-o.fa-2x(aria-hidden='true')

                    .tags
                      h5 Etiquetas
                      span.label.label-danger Etiqueta 1
                      span.label.label-danger Etiqueta 2

      .col-lg-3
        .panel
          .panel-body
            a.btn.btn-more.pull-right.hidden-xs(href='#', data-toggle='tooltip', data-placement='top', title='Ver más') +
            h3.text-center.title-blue orgullo upc
            .row
              .col-xs-12
                //- #panel-carousel-news.carousel.slide.multi-item-carousel(data-ride='carousel')
                #panel-carousel-news.carousel.slide(data-ride='carousel')
                  .carousel-inner
                    .item.active
                      .col-xs-12
                        article
                          a(href='news-detail.html')
                            span.thumbnail
                              img.img-responsive(src='images/news.png', alt='')
                              img.mask-fluid-horizontal(src='images/mask_bottom.png', alt='')
                            span.caption
                              header
                                h2 Fechas y Respuestas del proceso de Matrícula
                                small Área / Dirección / Jefatura
                                time(datetime='2016-05-29T03:46') 29.05.2016 03.46pm
                          .clearfix
                    .item
                      .col-xs-12
                        article
                          a(href='news-detail.html')
                            span.thumbnail
                              img.img-responsive(src='images/news.png', alt='')
                              img.mask-fluid-horizontal(src='images/mask_bottom.png', alt='')
                            span.caption
                              header
                                h2 Workshop: Creatividad Empresarial 2017
                                small Área / Dirección / Jefatura
                                time(datetime='2016-05-29T03:46') 29.05.2016 03.46pm
                          .clearfix
                  a.left.carousel-control(href='#panel-carousel-news', data-slide='prev')
                    i.fa.fa-angle-left.fa-lg(aria-hidden='true')
                  a.right.carousel-control(href='#panel-carousel-news', data-slide='next')
                    i.fa.fa-angle-right.fa-lg(aria-hidden='true')

        .panel.panel-main-news
          .panel-body
            a.btn.btn-more.pull-right.hidden-xs(href='#', data-toggle='tooltip', data-placement='top', title='Ver más') +
            h3.text-center.title-blue orgullo upc
            .row
              .col-xs-12
                article
                  a(href='news-detail.html')
                    span.thumbnail
                      img.img-responsive(src='images/news.png', alt='')
                      img.mask-fluid-horizontal(src='images/mask_bottom.png', alt='')
                    span.caption
                      header
                        h2 Fechas y Respuestas del proceso de Matrícula
                        small Área / Dirección / Jefatura
                        time(datetime='2016-05-29T03:46') 29.05.2016 03.46pm
                  .clearfix
