
doctype html
html.no-js(lang='es', ltr='ltr')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Conéctate
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // bower:css
    link(rel='stylesheet', href='/bower_components/owl.carousel/dist/assets/owl.carousel.css')
    link(rel='stylesheet', href='/bower_components/owl.carousel/dist/assets/owl.theme.default.css')
    // endbower
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/main.css')
    // endbuild

    // build:js scripts/vendor/modernizr.js
    script(src='/bower_components/modernizr/modernizr.js')
    // endbuild
  body
    <!--[if lt IE 10]>
      p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->

    .wrapper-navbar-default

    nav.navbar.navbar-static-top(role='navigation', style='margin-bottom: 0')
      .navbar-header.hidden-md.hidden-lg
        button#click-a.navbar-toggle.pull-left(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand.pull-right.hidden-sm(href='./') 
          span
            img(src="images/isotipo_white_upc.png", alt="UPC")
          //- | &nbsp; conéctate 2.0
        //- .pull-right.text-center.hidden-sm.hidden-md.hidden-lg(style="color: white; line-height: 75px; padding-right: 10px;")
        //-   i.fa.fa-map-marker.fa-lg(aria-hidden='true')
        //-   | &nbsp; Lima Central Tower 
      // /.navbar-header

      .nav.navbar-top-links
        h2.pull-left conéctate 2.0
        //- ul.nav.navbar-top-links.pull-right
        ul.pull-right
          li
            .dropdown
              button#dropdownMenuAccess.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                i.fa.fa-bolt.fa-2x(aria-hidden='true')
              ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuAccess')
                li.dropdown-header Accesos Directos
                li.divider(role='separator')
                li.xs-pt-10
                  .col-xs-4.col-sm-3.text-center.xs-pb-10
                    a(href="#")
                      img.img-responsive.img-circle(src='images/accesos-directos/seguridad.png', alt='Seguridad Corporativa')
                      span Seguridad Corporativa
                  .col-xs-4.col-sm-3.text-center.xs-pb-10
                    a(href="#")
                      img.img-responsive.img-circle(src='images/accesos-directos/solicitudes.png', alt='Sistema de Solicitudes')
                      span Sistema de Solicitudes
                  .col-xs-4.col-sm-3.text-center.xs-pb-10
                    a(href="#")
                      img.img-responsive.img-circle(src='images/accesos-directos/peoplesoft.png', alt='PeopleSoft')
                      span PeopleSoft
                  .clearfix.hidden-sm.hidden-md.hidden-lg
                  .col-xs-4.col-sm-3.text-center.xs-pb-10
                    a(href="#")
                      img.img-responsive.img-circle(src='images/accesos-directos/presupuestos.png', alt='Presupuestos')
                      span Presupuestos
                  .clearfix.hidden-xs
                  .col-xs-4.col-sm-3.text-center.xs-pb-10
                    a(href="#")
                      img.img-responsive.img-circle(src='images/accesos-directos/contratos.png', alt='Contratos')
                      span Contratos
                  .col-xs-4.col-sm-3.text-center.xs-pb-10
                    a(href="#")
                      img.img-responsive.img-circle(src='images/accesos-directos/smartnet.png', alt='Sueldos, Vacaciones')
                      span Sueldos, Vacaciones
                  .clearfix.hidden-sm.hidden-md.hidden-lg
                  .col-xs-4.col-sm-3.text-center.xs-pb-10
                    a(href="#")
                      img.img-responsive.img-circle(src='images/accesos-directos/portal.png', alt='Portal')
                      span Portal
                  .col-xs-4.col-sm-3.text-center.xs-pb-10
                    a(href="#")
                      img.img-responsive.img-circle(src='images/accesos-directos/workplace.png', alt='Workplace')
                      span Workplace
                  .clearfix
                //- li
                //-   a(href='#') Action
                //- li.divider(role='separator')
                //- li
                //-   a(href='#') Another action
                //- li.divider(role='separator')
                //- li
                //-   a(href='#') Something else here
          li
            .dropdown
              button#dropdownMenuNotification.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                i.fa.fa-bell-o.fa-2x(aria-hidden='true')
                span.badge 4
              ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuNotification')
                li.dropdown-header Notificaciones Noticias
                li.divider(role='separator')
                li
                  a(href="#")
                    .container-fluid
                      .row
                        .col-xs-3
                          img.img-responsive.img-circle(src='images/user-160x160.jpg', alt='')
                        .col-xs-9
                          | Restricción de atención telefónica de IT Service
                li.divider(role='separator')
                li
                  a(href="#")
                    .container-fluid
                      .row
                        .col-xs-3
                          img.img-responsive.img-circle(src='images/user-160x160.jpg', alt='')
                        .col-xs-9
                          | Restricción de atención telefónica de IT Service
                li.divider(role='separator')
                li
                  a(href="#")
                    .container-fluid
                      .row
                        .col-xs-3
                          img.img-responsive.img-circle(src='images/user-160x160.jpg', alt='')
                        .col-xs-9
                          | Restricción de atención telefónica de IT Service
          li
            //- .user-panel
            //-   .image
            //-     a(href="#")
            //-       img.img-responsive.img-circle(src='images/user-160x160.jpg', alt='')
            //-   .clearfix
            .dropdown
              button#dropdownMenuUser.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='true')
                img.img-responsive.img-circle(src='images/user-160x160.jpg', alt='')
              ul.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuUser')
                li
                  a.xs-p-10(href='#') Perfil
                li.divider(role='separator')
                li
                  a.xs-p-10(href='#') Cerrar sesión
          //- li
          //-   a(href='#') Presupuestos
          //- li
          //-   a(href='#') Smartnet
          //- li
          //-   a(href='#') People Soft
          //- li
          //-   a(href='#') Solicitudes DI2D
          //- li
          //-   a(href='#') Contratos
          //- li
          //-   a(href='#') Seguridad Corporativa
      // /.navbar-top-links

      .navbar-default.sidebar(role='navigation')
        //- .user-panel
        //-   .image
        //-     a(href="#")
        //-       img.img-responsive.img-circle(src='images/user-160x160.jpg', alt='')
        //-   .info
        //-     p Alex Armando 
        //-     a.btn-block(href='login.html') Cerrar sesión
        //-     p.hidden-xs
        //-       | Lima Central Tower 
        //-       i.fa.fa-map-marker.fa-lg(aria-hidden='true')
        //-   .clearfix
        //- br
        .navbar-brand.hidden-xs
          img(src="images/logo-upc.png", alt="UPC", class="img-responsive")
        .sidebar-nav
          ul#side-menu.nav.in
            li.active
              a(href='./')
                span.icon.icon-home
                |  Inicio
            li
              a(href='news.html')
                span.icon.icon-news
                |  Noticias
            li
              a(href='#')
                span.icon.icon-directory
                |  Directorio
            li
              a(href='#')
                span.icon.icon-upc-family
                |  Celebra
            li
              a(href='#')
                span.icon.icon-adn
                |  Nuestro ADN
            li
              a(href='#')
                span.icon.icon-channel
                |  Canal
        // /.sidebar-collapse
      // /.navbar-static-side

    #banner-wrapper
      block banner

    main#page-wrapper
      block content

    // Google Analytics: change UA-XXXXX-X to be your site's ID.
    script.
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='https://www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X');ga('send','pageview');

    // build:js scripts/vendor.js
    // bower:js
    script(src='/bower_components/jquery/dist/jquery.js')
    script(src='/bower_components/modernizr/modernizr.js')
    script(src='/bower_components/owl.carousel/dist/owl.carousel.js')
    // endbower
    // endbuild

    // build:js scripts/plugins.js
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/affix.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/alert.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/dropdown.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tooltip.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/modal.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/transition.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/button.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/popover.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/carousel.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/scrollspy.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/collapse.js')
    script(src='/bower_components/bootstrap-sass/assets/javascripts/bootstrap/tab.js')
    // endbuild

    // build:js scripts/main.js
    script(src='scripts/main.js')
    // endbuild
